body{
    background-color: blueviolet;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box1{
    
    background-color: brown;  
}

.box2{
    
    background-color: rgb(67, 165, 42);   
}
.box3{
    
    background-color: rgb(173, 11, 11);
   
}
.box4{
    
    background-color: rgb(42, 130, 165);   
}

/* tablet wiew  */

@media screen and (max-width: 768px){
    body{
        background-color: orangered;
    }

 .main{
        grid-template-rows: 1fr 1fr;
        flex-direction: column;
    }

}

/* mobile view  */

@media screen and (max-width: 425px){
    body{
        background-color: orangered;
    }

    .main{
        grid-template-rows: 1fr;
        flex-direction: column;
    }

}